<div class="settings__content">
    <h1><i class="fa fa-info settings__head-icon"></i> {{res 'setAboutTitle'}} KeeWeb v{{version}}</h1>
    <p>{{res 'setAboutFirst'}}&nbsp;
        {{~#res 'setAboutSecond'}}<a href="{{licenseLink}}" target="_blank">MIT</a>{{/res}}
        {{#res 'setAboutSource'}}<a href="{{repoLink}}" target="_blank">GitHub <i class="fa fa-github-alt bottom"></i></a>{{/res}}
    </p>

    <p class="para-slim">{{#res 'setAboutContribs1'}}<a href="https://antelle.net" target="_blank">Antelle</a>{{/res~}}:</p>
    <ul class="segment">
        <li><a href="https://github.com/Aetherinox" target="_blank">Aetherinox</a></li>
        <li><a href="https://github.com/HarlemSquirrel" target="_blank">HarlemSquirrel</a></li>
    </ul>

    <a href="{{donationLink}}" target="_blank" class="badge-button">
        <span class="badge-donate">
            <i class="fa fa-heart"></i> Donate
        </span>
    </a>

    <a href="{{repoLink}}" target="_blank" class="badge-button">
        <span class="badge-repo">
            <i class="fa fa-github"></i> View Project
        </span>
    </a>

    <hr class="hr40-l">

    <h2>{{res 'setAboutH2Packages'}}</h2>
    <p class="para-section">{{res 'setAboutBuilt'}}:</p>

    <h3>Libraries</h3>
    <table class="about-lib-list">
        <tbody>
            {{#if isDesktop}}
                <tr>
                    <td><a href="https://electron.atom.io/" target="_blank">electron</a></td>
                    <td>cross-platform desktop apps framework, &copy; 2013-{{year}} GitHub Inc.</td>
                </tr>
            {{/if}}
            <tr>
                <td><a href="https://handlebarsjs.com/" target="_blank">handlebars</a></td>
                <td>minimal templating on steroids, &copy; 2011-{{year}} by Yehuda Katz</td>
            </tr>
            <tr>
                <td><a href="https://github.com/patrick-steele-idem/morphdom" target="_blank">morphdom</a></td>
                <td>fast and lightweight DOM diffing/patching, &copy; Patrick Steele-Idem <a href="https://psteeleidem.com" target="_blank">https://psteeleidem.com</a></td>
            </tr>
            <tr>
                <td><a href="https://lodash.com/" target="_blank">lodash</a></td>
                <td>modern JavaScript utility library delivering modularity, performance & extras, &copy; OpenJS Foundation and other contributors <a href="https://openjsf.org" target="_blank">https://openjsf.org</a></td>
            </tr>
            <tr>
                <td><a href="https://jquery.com/" target="_blank">jQuery</a></td>
                <td>fast, small, and feature-rich JavaScript library, &copy; OpenJS Foundation and other contributors, <a href="https://openjsf.org" target="_blank">https://openjsf.org</a></td>
            </tr>
        </tbody>
    </table>

    <br />

    <h3>Core components</h3>
    <table class="about-lib-list">
        <tbody>
            <tr>
                <td><a href="https://github.com/keeweb/kdbxweb" target="_blank">kdbxweb</a></td>
                <td>web kdbx library, &copy; 2016-{{year}} Antelle</td>
            </tr>
            <tr>
                <td><a href="https://nodeca.github.io/pako/" target="_blank">pako</a></td>
                <td>high speed zlib port to javascript, &copy; 2014-{{year}} by Vitaly Puzrin and Andrei Tuputcyn</td>
            </tr>
            <tr>
                <td><a href="https://github.com/inexorabletash/text-encoding" target="_blank">text-encoding</a></td>
                <td>polyfill for the Encoding Living Standard's API, public domain</td>
            </tr>
            <tr>
                <td><a href="https://github.com/jindw/xmldom" target="_blank">xmldom</a></td>
                <td>pure JS W3C Standard based DOMParser and XMLSerializer</td>
            </tr>
        </tbody>
    </table>

    <br />

    <h3>UI components</h3>
    <table class="about-lib-list">
        <tbody>
            <tr>
                <td><a href="https://github.com/Diokuz/baron" target="_blank">baron</a></td>
                <td>native scroll with custom scrollbar, &copy; 2018-{{year}} Kuznetsov Dmitriy</td>
            </tr>
            <tr>
                <td><a href="https://github.com/Pikaday/Pikaday" target="_blank">pikaday</a></td>
                <td>refreshing JavaScript datepicker, &copy; 2014-{{year}} David Bushell</td>
            </tr>
        </tbody>
    </table>

    <br />

    {{#if isDesktop}}
    <h3>Desktop modules</h3>
    <table class="about-lib-list">
        <tbody>
            <tr>
                <td><a href="https://github.com/ranisalt/node-argon2" target="_blank">node-argon2</a></td>
                <td>node.js bindings for Argon2 hashing algorithm, &copy; 2015-{{year}} Ranieri Althoff</td>
            </tr>
            <tr>
                <td><a href="https://github.com/MadLittleMods/node-usb-detection" target="_blank">node-usb-detection</a></td>
                <td>list USB devices in system and detect changes on them, &copy; 2013-{{year}} Kaba AG</td>
            </tr>
            <tr>
                <td><a href="https://github.com/atom/node-keytar" target="_blank">node-keytar</a></td>
                <td>native password node module, &copy; 2013-{{year}} GitHub Inc.</td>
            </tr>
            <tr>
                <td><a href="https://github.com/antelle/node-yubikey-chalresp" target="_blank">node-yubikey-chalresp</a></td>
                <td>YubiKey challenge-response API for node.js, &copy; 2020-{{year}} Antelle</td>
            </tr>
            <tr>
                <td><a href="https://github.com/antelle/node-secure-enclave" target="_blank">node-secure-enclave</a></td>
                <td>secure enclave module for node.js and Electron, &copy; 2020-{{year}} Antelle</td>
            </tr>
            <tr>
                <td><a href="https://github.com/antelle/node-keyboard-auto-type" target="_blank">node-keyboard-auto-type</a></td>
                <td>node.js bindings for keyboard-auto-type, &copy; 2021-{{year}} Antelle</td>
            </tr>
        </tbody>
    </table>

    <br />

    {{/if}}

    <h3>Utils</h3>
    <table class="about-lib-list">
        <tbody>
            <tr>
                <td><a href="https://marked.js.org/" target="_blank">marked</a></td>
                <td>markdown parser and compiler, &copy; 2018-{{year}}, MarkedJS <a href="https://github.com/markedjs" target="_blank">https://github.com/markedjs</a> &copy; 2011-2018, Christopher Jeffrey <a href="https://github.com/chjj" target="_blank">https://github.com/chjj</a></td>
            </tr>
            <tr>
                <td><a href="https://github.com/cure53/DOMPurify" target="_blank">dompurify</a></td>
                <td>a DOM-only, super-fast, uber-tolerant XSS sanitizer, &copy; 2015-{{year}} Mario Heiderich, <a href="{{licenseLinkApache}}" class="muted-color" target="_blank">Apache-2.0 license</a></td>
            </tr>
            <tr>
                <td><a href="https://github.com/TomFrost/node-phonetic" target="_blank">node-phonetic</a></td>
                <td>generates unique, pronounceable names, &copy; 2016-{{year}} Tom Frost</td>
            </tr>
            <tr>
                <td><a href="https://github.com/LazarSoft/jsqrcode" target="_blank">jsqrcode</a></td>
                <td>javascript QR code scanner, <a href="{{licenseLinkApache}}" class="muted-color" target="_blank">Apache-2.0 license</a></td>
            </tr>
            <tr>
                <td><a href="https://tweetnacl.js.org/" target="_blank">tweetnacl.js</a></td>
                <td>port of TweetNaCl cryptographic library to JavaScript, public domain</td>
            </tr>
        </tbody>
    </table>

    <br />

    <h3>Styles</h3>
    <table class="about-lib-list">
        <tbody>
            <tr>
                <td><a href="https://sass-lang.com/" target="_blank">sass</a></td>
                <td>syntactically awesome stylesheets, &copy; 2012-{{year}} by the Sass Open Source Foundation</td>
            </tr>
            <tr>
                <td><a href="https://bourbon.io/" target="_blank">bourbon</a></td>
                <td>lightweight Sass tool set, &copy; 2011-{{year}} Thoughtbot, Inc. <a href="http://thoughtbot.com/" target="_blank">http://thoughtbot.com/</a></td>
            </tr>
            <tr>
                <td><a href="https://github.com/thoughtbot/bitters" target="_blank">bitters</a></td>
                <td>dash of pre-defined style to your Bourbon, &copy; 2013–{{year}} Thoughtbot, Inc. <a href="http://thoughtbot.com/" target="_blank">http://thoughtbot.com/</a></td>
            </tr>
            <tr>
                <td><a href="https://necolas.github.io/normalize.css/" target="_blank">normalize.css</a></td>
                <td>modern, HTML5-ready alternative to CSS resets, &copy; {{year}} Nicolas Gallagher and Jonathan Neal</td>
            </tr>
        </tbody>
    </table>

    <br />

    <h3>Graphics</h3>
    <table class="about-lib-list">
        <tbody>
            <tr>
                <td><a href="https://fontawesome.com/" target="_blank">font-awesome</a></td>
                <td>the iconic SVG, font, and CSS toolkit, <a href="{{licenseLinkCCBY40}}" class="muted-color" target="_blank">CC BY 4.0 License</a> (icons only)</td>
            </tr>
        </tbody>
    </table>

    <hr class="hr40-l">

    <br />

    <h2>{{res 'setAboutLic'}}</h2>
    <p>{{res 'setAboutLicComment'}}:</p>
    <p>Copyright &copy; {{year}} Antelle https://antelle.net</p>
    <p>Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated
        documentation files (the "Software"), to deal in the Software without restriction, including without limitation
        the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software,
        and to permit persons to whom the Software is furnished to do so, subject to the following conditions:</p>
    <p>The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.</p>
    <p>THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO
        THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS
        OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE,
        ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.</p>
</div>
