<div>
    <h1><i class="fa fa-puzzle-piece"></i> {{res 'plugins'}}</h1>
    <h2>{{res 'setPlInstallTitle'}}</h2>
    <div class="settings__plugins-list"></div>
    <div class="settings__plugins-install">
        <div>{{res 'setPlInstallDesc'}}</div>
        <label for="settings__plugins-install-url">{{res 'setPlInstallLabel'}}</label>
        <input type="text" class="settings__input input-base" id="settings__plugins-install-url" value="http://localhost:8085/plugins/examples/psychodelic/" />
        <button class="settings_plugins-install-btn">{{res 'setPlInstallBtn'}}</button>
        <div class="error-color settings__plugins-install-error"></div>
    </div>
</div>
