<div class="settings__content">
    <h1><i class="fa fa-question settings__head-icon"></i> {{res 'help'}}</h1>
    <h2>{{res 'setHelpFormat'}}</h2>
    <p>{{#res 'setHelpFormatBody'}}<a href="https://keepass.info/" target="_blank">KeePass</a>{{/res}}</p>
    <h2>{{res 'setHelpProblems'}}</h2>
    <p>{{#res 'setHelpProblems1'}} <a href="{{issueLink}}" target="_blank">{{res 'setHelpOpenIssue'}}</a>{{/res}}
        {{#res 'setHelpProblems2'}}<a href="https://antelle.net/" target="_blank">{{res 'setHelpContactLink'}}</a>{{/res}}.
    </p>
    <p>{{res 'setHelpAppInfo'}}:</p>
    <pre class="settings__pre input-base">{{appInfo}}</pre>
    <h2>{{res 'setHelpOtherPlatforms'}}</h2>
    <ul>
        <li>
            <i class="fa fa-windows"></i>
            <i class="fa fa-apple"></i>
            <i class="fa fa-linux"></i>
            <a href="{{desktopLink}}" target="_blank">{{res 'setHelpDesktopApps'}}</a>
        </li>
        <li>
            <i class="fa fa-chrome"></i>
            <i class="fa fa-firefox-browser"></i>
            <i class="fa fa-opera"></i>
            <i class="fa fa-safari"></i>
            <i class="fa fa-edge"></i>
            <a href="{{webAppLink}}" target="_blank">{{res 'setHelpWebApp'}}</a>
        </li>
    </ul>
    <h2>{{res 'setHelpUpdates'}} <i class="fa fa-twitter"></i></h2>
    <p>{{res 'setHelpTwitter'}}: <a href="https://twitter.com/kee_web" target="_blank">kee_web</a></p>
</div>
