<div>
    <h1><i class="fa fa-keyboard-o"></i> {{res 'setShTitle'}}</h1>
    <div><span class="shortcut">{{{cmd}}}A</span> {{res 'or'}} <span class="shortcut">{{{alt}}}A</span> {{res 'setShShowAll'}}</div>
    <div><span class="shortcut">{{{alt}}}C</span> {{res 'setShColors'}}</div>
    <div><span class="shortcut">{{{alt}}}D</span> {{res 'setShTrash'}}</div>
    <div><span class="shortcut">{{{cmd}}}F</span> {{res 'setShFind'}}</div>
    <div><span class="shortcut">esc</span> {{res 'setShClearSearch'}}</div>
    <div><span class="shortcut">{{{cmd}}}C</span> {{res 'setShCopyPass'}}</div>
    <div><span class="shortcut">{{{cmd}}}B</span> {{res 'setShCopyUser'}}</div>
    <div><span class="shortcut">{{{cmd}}}U</span> {{res 'setShCopyUrl'}}</div>
    {{#if autoTypeSupported}}
    <div><span class="shortcut">{{{cmd}}}T</span> {{res 'setShAutoType'}}</div>
    {{/if}}
    <div><span class="shortcut">&uarr;</span> {{res 'setShPrev'}}</div>
    <div><span class="shortcut">&darr;</span> {{res 'setShNext'}}</div>
    <div><span class="shortcut">{{{alt}}}N</span> {{res 'setShCreateEntry'}}</div>
    <div><span class="shortcut">{{{cmd}}}O</span> {{res 'setShOpen'}}</div>
    <div><span class="shortcut">{{{cmd}}}S</span> {{res 'setShSave'}}</div>
    <div><span class="shortcut">{{{cmd}}}G</span> {{res 'setShGen'}}</div>
    <div><span class="shortcut">{{{cmd}}},</span> {{res 'setShSet'}}</div>
    <div><span class="shortcut">{{{cmd}}}L</span> {{res 'setShLock'}}</div>
    {{#if globalShortcutsSupported}}
    <div><span class="shortcut {{#if globalIsLarge}}shortcut-large{{/if}}">{{{global}}}C</span> {{res 'setShCopyPassGlobal'}}</div>
    <div><span class="shortcut {{#if globalIsLarge}}shortcut-large{{/if}}">{{{global}}}B</span> {{res 'setShCopyUserGlobal'}}</div>
    <div><span class="shortcut {{#if globalIsLarge}}shortcut-large{{/if}}">{{{global}}}U</span> {{res 'setShCopyUrlGlobal'}}</div>
    <div><span class="shortcut {{#if globalIsLarge}}shortcut-large{{/if}}">{{{global}}}T</span> {{res 'setShAutoTypeGlobal'}}</div>
    {{/if}}
</div>
