<div class="settings__content">
    <h1><i class="fa fa-lock settings__head-icon"></i> {{name}}</h1>
    {{#if storage}}
        {{#ifeq storage 'file'}}<p>{{res 'setFilePath'}}: {{path}}</p>{{/ifeq}}
        {{#ifneq storage 'file'}}<p>{{#res 'setFileStorage'}}{{res storage}}{{/res}}</p>{{/ifneq}}
    {{else}}
        <p>{{res 'setFileIntl'}}.</p>
        {{#unless supportFiles}}
            <p>{{res 'setFileLocalHint'}} <a href="{{desktopLink}}" target="_blank">{{res 'setFileDownloadApp'}}</a></p>
        {{/unless}}
    {{/if}}
    {{#if writeAccess}}
        <div class="settings__file-buttons">
            <button class="settings__file-button-save-default" {{#if syncing}}disabled{{/if}}>
                {{#ifeq storage 'file'}}{{res 'setFileSave'}}{{/ifeq}}
                {{#ifneq storage 'file'}}{{res 'setFileSyncVerb'}}{{/ifneq}}
            </button>
        </div>
    {{else}}
        <p>{{res 'noWriteAccess'}}</p>
    {{/if}}

    <div class="settings__file-save-choose hide">
        <h2>{{res 'setFileSaveTo'}}</h2>
        {{#ifneq storage 'file'}}
        <div class="settings__file-save-to settings__file-save-to-file">
            <i class="fa fa-file-alt"></i>{{Res 'file'}}
        </div>
        {{/ifneq}}
        {{#each storageProviders as |prv|}}
            {{#unless prv.own}}
            <div class="settings__file-save-to settings__file-save-to-storage" data-storage="{{prv.name}}">
                {{#if prv.icon}}<i class="fa fa-{{prv.icon}}"></i>{{/if}}
                <span>{{res prv.name}}</span>
            </div>
            {{/unless}}
        {{/each}}
        {{#if canExportXml}}
        <div class="settings__file-save-to settings__file-save-to-xml">
            <i class="fa fa-code"></i>{{res 'setFileSaveToXml'}}
        </div>
        {{/if}}
        {{#if canExportHtml}}
            <div class="settings__file-save-to settings__file-save-to-html">
                <i class="fa fa-html5"></i>{{res 'setFileSaveToHtml'}}
            </div>
        {{/if}}
    </div>

    {{#if storage}}
    <h2>{{res 'setFileSync'}}</h2>
    <div>{{res 'setFileLastSync'}}: {{#if syncDate}}{{syncDate}}{{else}}{{res 'setFileLastSyncUnknown'}}{{/if}} {{#if syncing}}({{res 'setFileSyncInProgress'}}...){{/if}}</div>
    {{#if syncError}}<div>{{res 'setFileSyncError'}}: {{syncError}}</div>{{/if}}
    {{/if}}
    {{#if writeAccess}}
        <h2>{{res 'importPassword'}}</h2>
        <label for="settings-field-import-csv">{{res 'uploadCSV'}}:</label>
        <input id="settings-field-import-csv" type="file" accept="text/csv"/>
        <h3>{{res 'csvFormat'}}:</h3>
        <pre>
title,username,password
"my account","user","pass"
"my account 2","user2","pass2"
        </pre>
        <p>{{res 'csvExtraFieldsHelperText'}}</p>

        <h2>{{res 'renamePasswordVault'}}</h2>
        <label for="settings-field-title">{{res 'passwordVaultTitleLabel'}}:</label>
        <input type="text" class="settings-field input-base" id="settings-field-title"
            autocomplete="off" autocapitalize="off" required="required" value="{{name}}"
        />
        <p class="settings__field-error error-color" id="settings-field-title-error"></p>
        <button class="settings__file-button-rename">
            {{res 'renamePasswordVaultButtonText'}}
        </button>
    {{/if}}
    {{#if deleteAccess}}
        <h2>{{res 'deletePasswordVault'}}</h2>
        <div class="settings__file-buttons">
            <button class="settings__file-button-delete">
                {{res 'deletePasswordVaultButtonText'}}
            </button>
        </div>
    {{/if}}    
</div>
