<div>
    <h1><i class="fa fa-keyboard-o"></i> {{res 'setShTitle'}}</h1>
    <div><span class="shortcut">{{{cmd}}}A</span> {{res 'or'}} <span class="shortcut">{{{alt}}}A</span> {{res 'setShShowAll'}}</div>
    <div><span class="shortcut">{{{alt}}}C</span> {{res 'setShColors'}}</div>
    <div><span class="shortcut">{{{alt}}}D</span> {{res 'setShTrash'}}</div>
    <div><span class="shortcut">{{{cmd}}}F</span> {{res 'setShFind'}}</div>
    <div><span class="shortcut">esc</span> {{res 'setShClearSearch'}}</div>
    <div><span class="shortcut">⏎</span> {{res 'setShEntry'}}</div>
    <div><span class="shortcut">{{{cmd}}}C</span> {{res 'setShCopy'}}</div>
    <div><span class="shortcut">&uarr;</span> {{res 'setShPrev'}}</div>
    <div><span class="shortcut">&darr;</span> {{res 'setShNext'}}</div>
    <div><span class="shortcut">{{{alt}}}N</span> {{res 'setShCreateEntry'}}</div>
    <div><span class="shortcut">{{{cmd}}}O</span> {{res 'setShOpen'}}</div>
    <div><span class="shortcut">{{{cmd}}}S</span> {{res 'setShSave'}}</div>
    <div><span class="shortcut">{{{cmd}}}G</span> {{res 'setShGen'}}</div>
</div>
