<div>
    <h1><i class="fa fa-puzzle-piece"></i> {{res 'plugins'}}</h1>
    <div class="settings__plugins-list">
        {{#each plugins as |plugin|}}
        <div class="settings__plugins-plugin">
            <h2>{{plugin.id}}</h2>
            <div>{{plugin.manifest.description}}</div>
            <div>
                <ul class="settings__plugins-plugin-files">
                    {{#if plugin.manifest.resources.js}}<li class="settings__plugins-plugin-file"><i class="fa fa-code"></i> {{res 'setPlJs'}}</li>{{/if}}
                    {{#if plugin.manifest.resources.css}}<li class="settings__plugins-plugin-file"><i class="fa fa-paint-brush"></i> {{res 'setPlCss'}}</li>{{/if}}
                    {{#if plugin.manifest.resources.loc}}<li class="settings__plugins-plugin-file"><i class="fa fa-language"></i> {{res 'setPlLoc'}}: {{plugin.manifest.locale.title}}</li>{{/if}}
                </ul>
            </div>
            <div class="settings__plugins-plugin-desc">
                <a href="{{plugin.manifest.url}}" target="_blank">{{plugin.manifest.url}}</a>, v{{plugin.manifest.version}},
                {{#res 'setPlCreatedBy'}}<a href="{{plugin.manifest.author.url}}" target="_blank">{{plugin.manifest.author.name}}</a> ({{plugin.manifest.author.email}}){{/res}},
                {{#ifeq plugin.status 'active'}}{{#res 'setPlLoadTime'}}{{plugin.installTime}}ms{{/res}}{{else}}{{plugin.status}}{{/ifeq}}
                {{#ifeq plugin.status 'error'}}<span class="error-color">&nbsp;({{res 'setPlLoadError'}}){{/ifeq}}
                {{#if plugin.updateError}}<div class="error-color settings__plugins-upd-error">{{res 'setPlUpdateError'}}: <pre>{{plugin.updateError}}</pre></div>{{/if}}
            </div>
            <div class="settings__plugins-plugin-buttons">
                <button class="settings_plugins-uninstall-btn btn-error" data-plugin="{{plugin.id}}">{{res 'setPlUninstallBtn'}}</button>
                {{#ifeq plugin.status 'active'}}<button class="settings_plugins-disable-btn btn-silent" data-plugin="{{plugin.id}}">{{res 'setPlDisableBtn'}}</button>{{/ifeq}}
                {{#ifeq plugin.status 'inactive'}}<button class="settings_plugins-enable-btn btn-silent" data-plugin="{{plugin.id}}">{{res 'setPlEnableBtn'}}</button>{{/ifeq}}
                <button class="settings_plugins-update-btn btn-silent" data-plugin="{{plugin.id}}">{{res 'setPlUpdateBtn'}}</button>
                {{#if plugin.manifest.locale}}<button class="settings_plugins-use-locale-btn btn-silent" data-locale="{{plugin.manifest.locale.name}}">{{res 'setPlLocaleBtn'}}</button>{{/if}}
                {{#if plugin.manifest.theme}}<button class="settings_plugins-use-theme-btn btn-silent" data-theme="{{plugin.manifest.theme.name}}">{{res 'setPlThemeBtn'}}</button>{{/if}}
            </div>
        </div>
        {{/each}}
    </div>
    <h2>{{res 'setPlInstallTitle'}}</h2>
    <div class="settings__plugins-install">
        <div>{{res 'setPlInstallDesc'}}</div>
        <label for="settings__plugins-install-url">{{res 'setPlInstallLabel'}}</label>
        <input type="text" class="settings__input input-base" id="settings__plugins-install-url" value="{{lastInstallUrl}}" />
        <button class="settings_plugins-install-btn" {{#if installing}}disabled{{/if}}>
            {{#if installing}}{{res 'setPlInstallBtnProgress'}}{{else}}{{res 'setPlInstallBtn'}}{{/if}}
        </button>
        {{#if lastInstallError}}
            <div class="error-color settings__plugins-install-error">{{lastInstallError}}</div>
        {{/if}}
    </div>
</div>
