<div class="menu__item
    {{~#if active}} menu__item--active{{/if~}}
    {{~#if disabled}} menu__item--disabled{{/if~}}
    {{~#if options.length}} menu__item--with-options {{/if~}}
    {{~#if cls}} {{cls}}{{/if~}}
    ">
    {{#if collapsible}}<i class="menu__item-collapse fa fa-ellipsis-vertical muted-color" title="{{res 'menuItemCollapsed'}}"></i>{{/if}}
    <div class="menu__item-body" {{#if drag}}draggable="true"{{/if}}>
        {{#if drag}}<div class="menu__item-drag-top"></div>{{/if}}
        {{#if customIcon~}}
            <img src="{{customIcon}}" class="menu__item-icon menu__item-icon--image" />
        {{~else~}}
            <i class="menu__item-icon fa {{#if icon}}fa-{{icon}}{{else}}menu__item-icon--no-icon{{/if}}
                {{~#if iconCls}} {{iconCls}}{{/if~}}"></i>
        {{~/if}}
        <span class="menu__item-title">{{#if title}}{{title}}{{else}}({{res 'noTitle'}}){{/if}}</span>
        {{#if options}}
        <div class="menu__item-options">
            {{#each options as |opt|}}
            <div class="menu__item-option {{#if opt.cls}}{{opt.cls}}{{/if}}"
                    data-value="{{opt.value}}">{{opt.title}}</div>
            {{/each}}
        </div>
        {{/if}}
        {{#if editable}}<i class="menu__item-edit fa fa-gear"></i>{{/if}}
        {{#ifeq filterKey 'trash'}}<i class="menu__item-empty-trash fa fa-circle-minus" title="{{res 'menuEmptyTrash'}}"
            tip-placement="right"></i>{{/ifeq}}
    </div>
</div>
