<div class="details__history">
    <div class="details__subview-close">
        <i class="fa fa-chevron-left details__subview-close-pre"></i>{{res 'detHistoryReturn'}} <i class="fa fa-arrow-circle-left details__subview-close-post"></i>
    </div>
    <div class="details__history-desc muted-color">{{res 'detHistoryClickPoint'}}</div>
    <div class="details__history-top">
        <div class="details__history-timeline">
            <div class="details__history-timeline-axis"></div>
            <div class="details__history-arrow-prev"><i class="fa fa-long-arrow-alt-left"></i></div>
            <div class="details__history-arrow-next"><i class="fa fa-long-arrow-alt-right"></i></div>
        </div>
    </div>
    <div class="details__history-body">
        <div class="details__field">
            <div class="details__field-label">{{Res 'title'}}</div>
            <div class="details__field-value"><i class="fa fa-key"></i> </div>
        </div>
    </div>
    <div class="details__history-buttons">
        <button class="details__history-button details__history-button-revert btn-silent">{{res 'detHistoryRevert'}}</button>
        <button class="details__history-button details__history-button-delete btn-error">{{res 'detHistoryDel'}}</button>
        <button class="details__history-button details__history-button-discard btn-error">{{res 'discardChanges'}}</button>
    </div>
</div>
