<div class="details__attachment-preview">
    <div class="details__subview-close">
        <i class="fa fa-chevron-left details__subview-close-pre"></i>{{res 'detHistoryReturn'}} <i class="fa fa-arrow-circle-left details__subview-close-post"></i>
    </div>
    <div class="details__attachment-preview-data"></div>
    <i class="fa details__attachment-preview-icon"></i>
    {{#if isMobile}}
        <div class="details__attachment-preview-buttons">
            <button class="btn-silent details__attachment-preview-download-btn">{{res 'detAttSave'}}</button>
        </div>
    {{else}}
        <div class="details__attachment-preview-download-text">{{res 'detAttDownload'}}
            &nbsp;<span class="details__attachment-preview-download-text-shortcut"></span>{{res 'detAttDelToRemove'}}</div>
    {{/if}}
</div>
