<div class="at-select">
    <div class="at-select__header">
        <h1 class="at-select__header-text">{{res 'autoTypeHeader'}}</h1>
        {{#if filterText}}
        <div class="at-select__header-filter">
            <input type="text" readonly value="{{filterText}}" class="at-select__header-filter-input" />
            <i class="at-select__header-filter-clear fa fa-times" />
        </div>
        {{/if}}
    </div>
    <div class="at-select__message">
        <div class="at-select__message-text">{{topMessage}}</div>
    </div>
    <div class="at-select__items">
        <div class="scroller">
            {{#if itemsHtml}}
                <table class="at-select__table">{{{itemsHtml}}}</table>
            {{else}}
                <h1 class="at-select__empty-title muted-color">{{res 'autoTypeNoMatches'}}</h1>
            {{/if}}
        </div>
        <div class="scroller__bar-wrapper"><div class="scroller__bar"></div></div>
    </div>
</div>
