<div class="open__config">
    <h2 class="open__config-header">{{res 'newPasswordVault'}}</h2>
    <div class="open__config-fields">
		<div>
		<label for="open__config-field-type">{{res 'passwordVaultTypeLabel'}}:</label>
		<select class="settings__select input-base" id="open__config-field-type">
            {{#if canCreatePersonalPasswordVault}}
			    <option value="Personal" selected>{{res 'passwordVaultTypePersonal'}}</option>
            {{/if}}
            {{#if tenantsAvailableForCreate}}
			    <option value="Shared" {{#unless canCreatePersonalPasswordVault}}selected{{/unless}}>{{res 'passwordVaultTypeShared'}}</option>
            {{/if}}
		</select>
		</div>
		<div id="shared-fields">
            <label for="open__config-field-tenant">{{res 'passwordVaultTenantLabel'}}:</label>
            <select class="settings__select input-base" id="open__config-field-tenant">
                {{#each tenantsAvailableForCreate as |tenant|}}
                    <option value="{{tenant.id}}" {{#if @first}}selected{{/if}}>{{tenant.title}}</option>
                {{/each}}
            </select>
		</div>
        <label for="open__config-field-title">{{res 'passwordVaultTitleLabel'}}:</label>
        <input type="text" class="open__config-field input-base" id="open__config-field-title"
            autocomplete="off" autocapitalize="off" required
        />
    </div>
    <div class="open__config-error error-color"></div>
    <div class="open__config-buttons">
        <button class="btn-silent open__config-btn-cancel">{{res 'alertCancel'}}</button>
        <button class="open__config-btn-ok">
            <span class="open__config-btn-ok-text">{{res 'alertOk'}}</span>
            <i class="open__config-btn-ok-spinner fa fa-spinner spin"></i>
        </button>
    </div>
</div>