<div class="footer">
    {{#each files.models as |file|}}
    <div class="footer__db footer__db-item {{#unless file.attributes.open}}footer__db--dimmed{{/unless}}" data-file-id="{{file.cid}}">
        <i class="fa fa-{{#if file.attributes.open}}unlock{{else}}lock{{/if}}"></i> {{file.attributes.name}}
        {{#if file.attributes.syncing~}}
            <i class="fa fa-refresh fa-spin footer__db-sign"></i>
        {{~else if file.attributes.syncError~}}
            <i class="fa {{#if file.attributes.modified}}fa-circle{{else}}fa-circle-thin{{/if}} footer__db-sign footer__db-sign--error"
               title="{{res 'footerSyncError'}}: {{file.attributes.syncError}}"></i>
        {{~else if file.attributes.modified~}}
           <i class="fa fa-circle footer__db-sign"></i>
        {{~/if}}
    </div>
    {{/each}}
    <div class="footer__db footer__db--dimmed footer__db--expanded footer__db-open">
        <i class="fa fa-plus"></i><span class="footer__db-text">&nbsp;{{res 'footerOpen'}}</span>
    </div>
    <div class="footer__btn footer__btn-help" title="{{res 'help'}}" tip-placement="top"><i class="fa fa-question"></i></div>
    <div class="footer__btn footer__btn-settings" title="{{res 'settings'}}" tip-placement="top">
        {{#if updateAvailable}}
        <i class="fa fa-bell footer__update-icon"></i>
        {{else}}
        <i class="fa fa-cog"></i>
        {{/if}}
    </div>
    <div class="footer__btn footer__btn-generate" title="{{res 'footerTitleGen'}}" tip-placement="top"><i class="fa fa-bolt"></i></div>
    <div class="footer__btn footer__btn-lock" title="{{res 'footerTitleLock'}}" tip-placement="top-left"><i class="fa fa-sign-out"></i></div>
</div>
