<div class="footer">
    {{#each files as |file|}}
    <div class="footer__db footer__db-item {{#unless file.active}}footer__db--dimmed{{/unless}}"
         data-file-id="{{file.id}}" id="footer__db--{{file.id}}">
        <i class="fa fa-{{#if file.active}}unlock{{else}}lock{{/if}}"></i> {{#if file.tenantName}}{{file.tenantName}} - {{/if}}{{file.name}}
    </div>
    {{/each}}
    {{#if files.0.writeAccess}}
        <div class="footer__btn footer__btn-save" title="{{res 'footerSave'}}" tip-placement="top" id="footer__btn-save">
            <i class="fa fa-save"></i>
            {{#if files.0.syncing~}}
                <i class="fa fa-sync-alt spin footer__db-sign"></i>
            {{~else if files.0.syncError~}}
                <i class="fa {{#if files.0.modified}}fa-circle{{else}}fa-circle-o{{/if}} footer__db-sign footer__db-sign--error"
                title="{{res 'footerSyncError'}}: {{files.0.syncError}}"></i>
            {{~else if files.0.modified~}}
                <i class="fa fa-circle footer__db-sign"></i>
            {{~/if}}
        </div>
    {{~/if}}
    <div class="footer__db footer__db--dimmed footer__db--expanded footer__db-open" title="{{res 'footerOpen'}}" tip-placement="top" id="footer__db-open">
        <i class="fa fa-times"></i><span class="footer__db-text">&nbsp;{{res 'footerOpen'}}</span>
    </div>
    <div class="footer__btn footer__btn-generate" title="{{res 'footerTitleGen'}}" tip-placement="top" id="footer__btn-generate"><i class="fa fa-bolt"></i></div>
    <div class="footer__btn footer__btn-lock" title="{{res 'footerTitleLock'}}" tip-placement="top-left" id="footer__btn-lock"><i class="fa fa-lock"></i></div>
    <div class="footer__btn footer__btn-back" title="{{res 'footerTitleBack'}}" tip-placement="top-left" id="footer__btn-back"><i class="fa fa-sign-out-alt"></i></div>
</div>
