<div class="list__search">
    <div class="list__search-header">
        <div class="list__search-btn-menu">
            <i class="fa fa-bars"></i>
        </div>
        <div class="list__search-field-wrap">
            <input type="text" class="list__search-field input-search" autocomplete="off" spellcheck="false">
            <div class="list__search-icon-search" title="{{res 'searchAdvTitle'}}">
                <i class="fa fa-search"></i>
                <i class="fa fa-caret-down"></i>
            </div>
            <div class="list__search-icon-clear">
                <i class="fa fa-times-circle"></i>
            </div>
        </div>
        <div class="list__search-btn-new {{#unless canCreate}}hide{{/unless}}" title="{{res 'searchAddNew'}}">
            <i class="fa fa-plus"></i>
        </div>
        <div class="list__search-btn-sort" title="{{res 'searchSort'}}">
            <i class="fa fa-sort-alpha-down"></i>
        </div>
        <div class="list__search-adv {{#unless advEnabled}}hide{{/unless}}">
            <div class="list__search-adv-text">{{res 'searchSearchIn'}}:</div>
            <div class="list__search-check"><input type="checkbox" id="list__search-adv-check-user" data-id="user"
               {{#if adv.user}}checked{{/if}}><label for="list__search-adv-check-user">{{Res 'user'}}</label></div>
            <div class="list__search-check"><input type="checkbox" id="list__search-adv-check-other" data-id="other"
                {{#if adv.other}}checked{{/if}}><label for="list__search-adv-check-other">{{res 'searchOther'}}</label></div>
            <div class="list__search-check"><input type="checkbox" id="list__search-adv-check-website" data-id="url"
                {{#if adv.url}}checked{{/if}}><label for="list__search-adv-check-website">{{Res 'website'}}</label></div>
            <div class="list__search-check"><input type="checkbox" id="list__search-adv-check-protect" data-id="protect"
                {{#if adv.protect}}checked{{/if}}><label for="list__search-adv-check-protect">{{res 'searchProtect'}}</label></div>
            <div class="list__search-check"><input type="checkbox" id="list__search-adv-check-notes" data-id="notes"
                {{#if adv.notes}}checked{{/if}}><label for="list__search-adv-check-notes">{{Res 'notes'}}</label></div>
            <div class="list__search-check"><input type="checkbox" id="list__search-adv-check-pass" data-id="pass"
                {{#if adv.pass}}checked{{/if}}><label for="list__search-adv-check-pass">{{Res 'password'}}</label></div>
            <div class="list__search-check"><input type="checkbox" id="list__search-adv-check-title" data-id="title"
                {{#if adv.title}}checked{{/if}}><label for="list__search-adv-check-title">{{Res 'title'}}</label></div>
            <div class="list__search-adv-text">{{res 'searchOptions'}}:</div>
            <div class="list__search-check"><input type="checkbox" id="list__search-adv-check-cs" data-id="cs"
                {{#if adv.cs}}checked{{/if}}><label for="list__search-adv-check-cs">{{res 'searchCase'}}</label></div>
            <div class="list__search-check"><input type="checkbox" id="list__search-adv-check-regex" data-id="regex"
                {{#if adv.regex}}checked{{/if}}><label for="list__search-adv-check-regex">{{res 'searchRegex'}}</label></div>
            <div class="list__search-check"><input type="checkbox" id="list__search-adv-check-history" data-id="history"
                {{#if adv.history}}checked{{/if}}><label for="list__search-adv-check-history">{{Res 'history'}}</label></div>
            <div class="list__search-check"><input type="checkbox" id="list__search-adv-check-exact" data-id="exact"
                {{#if adv.exact}}checked{{/if}}><label for="list__search-adv-check-exact">{{res 'searchExact'}}</label></div>
        </div>
    </div>
</div>
