<table class="list__table">
    <thead>
        <tr>
            <th><i class="fa fa-bars muted-color list__table-options"></i></th>
            <th>{{Res 'title'}}</th>
            <th>{{Res 'user'}}</th>
            <th>{{Res 'website'}}</th>
            <th>{{Res 'tags'}}</th>
            <th>{{Res 'notes'}}</th>
        </tr>
    </thead>
    <tbody>
        {{{items}}}
    </tbody>
</table>
