<div class="modal modal--hidden {{#if opaque}}modal--opaque{{/if}} {{#if wide}}modal--wide{{/if}}">
    <div class="modal__content">
        {{#if icon}}
            <i class="modal__icon fa fa-{{icon}}"></i>
        {{/if}}
        <div class="modal__header">{{header}}</div>
        <div class="modal__body">
            {{#each body as |item|}}
                {{item}}
                {{#unless @last}}<br/>{{/unless}}
            {{/each}}
            {{#if pre}}<pre class="modal__pre">{{pre}}</pre>{{/if}}
            {{#if link}}<a href="{{link}}" class="modal__link" target="_blank">{{link}}</a>{{/if}}
            {{#if hint}}<p class="muted-color">{{hint}}</p>{{/if}}
            {{#if checkbox}}
            <div class="modal__check-wrap"><input type="checkbox" id="modal__check" /><label for="modal__check">{{checkbox}}</label></div>
            {{/if}}
        </div>
        <div class="modal__buttons">
            {{#each buttons as |btn|}}
                <button class="{{#unless btn.result}}btn-error{{/unless}} {{#if btn.error}}btn-error{{/if}} {{#if btn.silent}}btn-silent{{/if}}"
                        data-result="{{btn.result}}">{{btn.title}}</button>
            {{/each}}
        </div>
    </div>
</div>
