<div class="open">
    <input type="file" class="open__file-ctrl hide-by-pos" />
    <div class="open__message {{#unless unlockMessageRes}}hide{{/unless}}">
        <div class="open__message-content">{{#if unlockMessageRes}}{{res unlockMessageRes}}{{/if}}</div>
        <div class="open__message-cancel-btn" title="{{res 'alertCancel'}}" tip-placement="left">
            <i class="fa fa-times-circle open__message-cancel-btn-icon"></i>
        </div>
    </div>
    <div class="open__icon open__icon-more id=open__icon-more">
        <a href="/">
            <img src="icons/brand.png" height="100" width="100"/>
        </a>
        <div class="open__icon-text">{{res 'passwordBankTitle'}}</div>
    </div>
    <div class="loading__container hide">
        <i class="fa fa-spinner spin"></i>
        <span class="loading__text">{{res 'openFileLoadingText'}}</span>
    </div>
    <div class="open__icons">
        {{#if canOpen}}
            <div class="open__icon open__icon-open" tabindex="1" id="open__icon-open">
                <i class="fa fa-lock open__icon-i"></i>
                <div class="open__icon-text">{{res 'openOpen'}}</div>
            </div>
        {{/if}}
        {{#if canCreate}}
            <div class="open__icon open__icon-new" tabindex="2" id="open__icon-new">
                <i class="fa fa-plus open__icon-i"></i>
                <div class="open__icon-text">{{res 'openNew'}}</div>
            </div>
        {{/if}}
        <div class="open__icon open__icon-yubikey {{#unless canOpenYubiKey}}hide{{/unless}}"
             tabindex="3" id="open__icon-yubikey">
            <i class="fa fa-usb-token open__icon-i"></i>
            <div class="open__icon-text">YubiKey</div>
        </div>
        {{#if canOpenDemo}}
            {{#ifeq demoOpened false}}
                <div class="open__icon open__icon-demo" tabindex="4" id="open__icon-demo">
                    <i class="fa fa-magic open__icon-i"></i>
                    <div class="open__icon-text">{{res 'openDemo'}}</div>
                </div>
            {{/ifeq}}
        {{/if}}
        {{#if showMore}}
            <div class="open__icon open__icon-more" tabindex="5" id="open__icon-more">
                <i class="fa fa-ellipsis-h open__icon-i"></i>
                <div class="open__icon-text">{{res 'openMore'}}</div>
            </div>
        {{/if}}
    </div>
    <div class="open__icons open__icons--lower hide">
        {{#each storageProviders as |prv|}}
            <div class="open__icon open__icon-storage" data-storage="{{prv.name}}" tabindex="{{add @index 6}}"
                 id="open__icon-storage--{{prv.name}}">
                {{#if prv.icon}}<i class="fa fa-{{prv.icon}} open__icon-i"></i>{{/if}}
                <div class="open__icon-text">{{res prv.name}}</div>
            </div>
        {{/each}}
        {{#if canOpenDemo}}
            {{#if demoOpened}}
                <div class="open__icon open__icon-demo" tabindex="20" id="open__icon-demo">
                    <i class="fa fa-magic open__icon-i"></i>
                    <div class="open__icon-text">{{res 'openDemo'}}</div>
                </div>
            {{/if}}
        {{/if}}
        {{#if canOpenSettings}}
            <div class="open__icon open__icon-settings" tabindex="22" id="open__icon-settings">
                <i class="fa fa-cog open__icon-i"></i>
                <div class="open__icon-text">{{res 'settings'}}</div>
            </div>
        {{/if}}
    </div>
    <div class="open__pass-area">
        <div class="hide">
            {{!-- we need these inputs to screw browsers passwords autocompletion --}}
            <input type="text" name="username">
            <input type="password" name="password">
        </div>
         <div class="list__search-field-wrap list__search-field-wrap--text">
            <input type="text" placeholder="{{res 'searchPlaceholder'}}" class="list__search-field input-search" autocomplete="off" spellcheck="false">
            <div class="list__search-icon-search" >
                <i class="fa fa-search"></i>
            </div>
            <div class="list__search-icon-clear hide">
                <i class="fa fa-times-circle"></i>
            </div>
        </div>
        <div class="open__pass-warn-wrap hide">
            <div class="open__pass-warning muted-color invisible"><i class="fa fa-exclamation-triangle"></i> {{res 'openCaps'}}</div>
        </div>
        <div class="open__pass-field-wrap hide">
            <input class="open__pass-input" name="password" type="password" size="30" autocomplete="new-password" maxlength="1024"
                   placeholder="{{#if canOpen}}{{res 'openClickToOpen'}}{{/if}}" readonly tabindex="23" />
            <div class="open__pass-enter-btn" tabindex="24">
                <i class="fa fa-level-down-alt rotate-90 open__pass-enter-btn-icon-enter"></i>
                <i class="fa fa-fingerprint open__pass-enter-btn-icon-touch-id"></i>
            </div>
            <div class="open__pass-opening-icon"><i class="fa fa-spinner spin"></i></div>
        </div>
        <div class="open__settings hide">
            <div class="open__settings-key-file hide" tabindex="25">
                <i class="fa fa-key open__settings-key-file-icon">
                </i><span class="open__settings-key-file-name">{{res 'openKeyFile'}}</span>
                {{#if canOpenKeyFromDropbox}}<span class="open__settings-key-file-dropbox"> {{res 'openKeyFileDropbox'}}</span>{{/if}}
            </div>
            <div class="open__settings-yubikey {{#if canUseChalRespYubiKey}}open__settings-yubikey--present{{/if}} hide"
                 tabindex="26" title="YubiKey">
                <div class="open__settings-yubikey__text">YK</div> <i class="fa fa-usb-token open__settings-yubikey-img"></i>
            </div>
        </div>
        <div class="open__last">
            {{#each lastOpenFiles as |file|}}
                <div class="open__last-item open__last-item-header" data-id="{{file.id}}" tabindex="{{add @index 30}}"
                     id="open__last-item--{{file.id}}">
                    {{#if file.icon}}<i class="fa fa-{{file.icon}} open__last-item-icon"></i>{{/if}}
                    <span class="open__last-item-text">{{#if file.tenantName}}{{file.tenantName}} - {{/if}}{{file.name}}</span>
                    {{#if file.entries}}
                    <span class="expand-collapse-container">
                        <i class="fa fa-caret-down open__last-item-expand" data-id="{{file.id}}"></i>
                        <i class="fa fa-caret-up open__last-item-collapse hide" data-id="{{file.id}}"></i>
                    </span>
                    {{else}}
                        <i class="fa fa-info-circle icon-missing-index" title="{{res 'iconMissingIndexBody'}}"></i>
                    {{/if}}
                </div>
                {{#if file.entries}}
                    {{#each file.entries as |entry|}}
                    <div class="open__last-item open__last-item-entry hide" data-id="{{entry.id}}" data-parent-id="{{file.id}}">
                        <i class="fa fa-key open__last-item-icon"></i>
                        <span class="list__item-title open__last-item-entry-text">{{#if entry.title}}{{entry.title}}{{else}}({{res 'noTitle'}}){{/if}}</span>
                    </div>
                    {{/each}}
                {{/if}}
            {{/each}}
        </div>
    </div>
    <div class="open__config-wrap">
    </div>
    <div class="open__dropzone">
        <i class="fa fa-lock muted-color open__dropzone-icon"></i>
        <h1 class="muted-color open__dropzone-header">{{res 'openDropHere'}}</h1>
    </div>
</div>
